header{
    height: 10vh;
    line-height: 10vh;
}
header .container{
    padding-top: 15px;
}
header ul li{
    margin-left: 30px;
}
header ul li a{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}
header ul li a:hover{
    color: #ff014f;
}
.logo{
    width: 90px;
}
.logo img{
    max-width: 100%;
}
.home-btn{
    padding: 18px;
    border-radius: 6px;
    cursor: pointer;
    height: fit-content;
    color: #ff014f;
    transition: 0.3s all ease;
    background: linear-gradient(146deg,#e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}
.home-btn:hover{
    background: #ff014f;
    color: #fff;
}
.open{
    display: none;
}
.toggle{
    display: none;
}
@media (max-width: 768px){
    header ul{
        padding-top: 30px;
    }
    .nav-link-mobile{
        position: absolute;
        display: block;
        list-style: none;
        left: 0;
        top: 0;
        transition: all .5s ease-in-out;
        width: 60%;
        height: 100vh;
        background: #fff;
        z-index: 888;
        box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px,
                    rgba(0, 0, 0, 0.23) 0px 30px 60px -30px;
    }
    header ul li{
        width: 100%;
        text-transform: uppercase;
        line-height: 70px;
        transition: .5s all ease-in-out;
    }
    header .link{
        display: none;
    }
    .toggle{
        display: block;
    }
    .close, .open{
        position: absolute;
        display: block;
        font-size: 30px;
        top: 35px;
        right: 30px;
        color: #ff014f;
        z-index: 99;
    }
    .close{
        right: 30px;
    }
    .close.home-btn{
        background: linear-gradient(145deg, #e2e8ec, #ffffff);
        color: #ff014f;
        border-radius: 20%;
        padding: 0;
        line-height: 60px;
    }
}